/* Fundo da página */
body {
    background-color: white; /* Alterado para branco */
    color: #1c1c1c; /* Cor do texto para contraste */
    font-family: 'Cinzel', serif;
    /* background-image: url('/backgrounds/medieval_background.jpg');  */
    /* background-size: cover;  */
    /* background-position: center; */
}

/* Estilo para as tabelas */
table {
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: rgba(40, 40, 40, 0.9); /* Mantém o fundo da tabela com transparência */
    color: #f4f4f4;
    font-family: 'Cinzel', serif;
    text-align: center;
    border: 1px solid #555;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
th, td {
    padding: 10px;
    border: 1px solid #444;
}
th {
    background-color: #6b4226; /* Marrom madeira */
    color: #fff;
    text-transform: uppercase;
}

td img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}
/* Botões */
button {
    display: inline-block;
    background-color: #b22222;
    color: #fff;
    border: none;
    padding: 12px 25px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Cinzel', serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
button:hover {
    background-color: #800000;
    transform: scale(1.1);
}

/* Títulos */
h1, h2 {
    color: #f9d71c;
    text-shadow: 2px 2px 8px #000;
    font-family: 'MedievalSharp', serif;
}
/* Áudio */
audio {
    display: none; /* Oculta o player para evitar interferência visual */
}

td img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px #f9d71c;
}
